yca-war/src/main/resources/ycaService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://smabtp.fr/service/souscription/ycaService/1.0"
	xmlns:tns="http://smabtp.fr/service/souscription/ycaService/1.0">

	<wsdl:types xmlns:xsd="http://www.w3.org/2001/XMLSchema">

		<xsd:schema xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap/12"
			targetNamespace="http://smabtp.fr/service/souscription/ycaService/1.0"
			xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0">

			<xsd:annotation>
				<xsd:appinfo>
					<jaxb:globalBindings>
						<jaxb:javaType name="java.lang.Long" xmlType="xsd:long" />
					</jaxb:globalBindings>
				</xsd:appinfo>
			</xsd:annotation>

			<!-- déclaration des méthodes -->
			<xsd:element name="foo" type="tns:foo" />
			<xsd:element name="fooResponse" type="tns:fooResponse" />
			<xsd:complexType name="foo">
				<xsd:sequence>
					<xsd:element minOccurs="1" name="fooParam1" type="tns:fooParam1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="fooParam1">
				<xsd:sequence>
					<xsd:element minOccurs="1" name="a" type="xsd:long" />
					<xsd:element minOccurs="1" name="b" type="xsd:long" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="fooResponse">
				<xsd:sequence>
					<xsd:element minOccurs="1" name="fooParamResponse1"
						type="tns:fooParamResponse1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="fooParamResponse1">
				<xsd:sequence>
					<xsd:element minOccurs="1" name="result" type="xsd:long" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="operationFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="code" />
						<xsd:element name="reason" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="foo">
		<wsdl:part element="tns:foo" name="foo" />
	</wsdl:message>
	<wsdl:message name="operationFault">
		<wsdl:part element="tns:operationFault" name="operationFault" />
	</wsdl:message>
	<wsdl:message name="fooResponse">
		<wsdl:part element="tns:fooResponse" name="fooResponse" />
	</wsdl:message>

	<wsdl:portType name="ycaService">
		<wsdl:operation name="foo">
			<wsdl:input message="tns:foo" />
			<wsdl:output message="tns:fooResponse" />
			<wsdl:fault name="operationFault" message="tns:operationFault" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ycaServiceBinding" type="tns:ycaService">
		<soap12:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="foo">
			<soap12:operation soapAction="foo" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="operationFault">
				<soap12:fault name="operationFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ycaService">
		<wsdl:port binding="tns:ycaServiceBinding" name="ycaServicePort">
			<soap12:address location="http://localhost:8080/yca-war/YcaServiceImplService" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>